html, body {
	margin: 0;
	padding: 0;
	min-width: 1000px;
	font-family: Arial;
}

h2 {
	font-size: 20px;
	padding: 27px 0 27px 18px;
	margin: 0 0 34px;
	border-bottom: 1px solid #e5e5e5;
}

.title {
	color: #ffffff;
	font-family: "Arial MT", sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 50px;
	letter-spacing: -0.32px;
	float: left;
	margin: 0px;
}

.black-bar {
	background-color: #00122f;
	color: white;
	padding: 20px 0;
	font-size: 16px;
	height:55px;
}

.black-bar a {
	color: white;
}

.fixed-container {
	width: 960px;
	margin: 0 auto;
	position: relative;
	display: flex;
    justify-content: space-between;
}

.datetime {
	float: right;
	color: #ffffff;
	font-family: "Arial MT", sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 50px;
	letter-spacing: -0.32px;
	margin: 0px;
}

#header {
	height: 100px;
	display: flex;
	align-items: center;
}

#logo {
	/* position: absolute; */
	top: 40px;
}

#menu-container {
	height: 70px;
}

#column-left {
	background-color: #FFFFFF;
	width: 250px;
	display: flex;
    flex-direction: column;
}
	.news {
		display: flex;
		justify-content: space-around ;
	}

	.news-item {
		padding-left: 18px;
		margin-bottom: 27px;
		font-size: 14px;
	}

	.news-item-text {
		margin-bottom: 20px;
		font-weight: 700;
	}

	.news-item-props {
		font-size: 12px;
		display: flex;
    	justify-content: space-around;
	}

		.news-item-props a {
			color: #91919f;
		}

		.news-time {
			/* position: absolute;
			top: 0;
			left: 120px; */
			padding-left: 15px;
			background-image: url('../img/icon-time.png');
			background-repeat: no-repeat;
		}

		.news-comments-count {
			/* position: absolute;
			top: 0;
			left: 180px; */
			padding-left: 15px;
			background-image: url('../img/icon-comments.png');
			background-repeat: no-repeat;
		}

		.news-button {
			text-align: center;
			margin: 40px auto 25px;
		}

		.column-left__button {
			border-radius: 23px;
			border: 1px solid #448ccb;

			color: #448ccb;
			font-family: "Arial MT", sans-serif;
			font-size: 14px;
			font-weight: 400;
			letter-spacing: -0.28px;
			padding: 17px 51px;
		}

#column-center {
	width: 420px;
	/* margin-left: 20px; */
	/* float: left; */
	display: flex;
	flex-direction: column;
}

#central-container {
	padding-top: 20px;
	background-color: #f9f9f9;
	background-image: url('../img/central-bg-top.png');
	background-repeat: repeat-x;
	/* height: 100vh; */

	display: flex;
	flex-direction: column;
}

#central-container .fixed-container {
	overflow-y: hidden;
}

#column-right {
	width: 250px;
	display: flex;
    flex-direction: column;
}

#column-right img {
	margin-bottom: 20px;
}

.list {
	padding-left: 20px;
}

.list-item {
	display: list-item;
}
.header-left {
	display: flex;
}
.header-right{
    /* float: right; */
}
.header-left,
.header-right,
.header-center{
	display: flex;
	align-items: center;
}
.header-center {
    /* float: left; */
    /* position: relative; */
    /* top: 52px; */
    /* left: 270px; */
    margin-top: 5px;
}


/* HEADER LOGO */
.logo {
    margin-right: 20px;
    width: 121px;
}

/* HEADER TOWN */
.town {

}
    .town-name {
        color: #448ccb;
        font-family: "Arial MT", sans-serif;
        font-size: 16px;
        letter-spacing: -0.32px;
        border-bottom: 1px dotted #448ccb;
    }
    .town-image {
        padding-left: 3px;
	}
	
	.select-wrapper {
		display: inline-block;
		position: relative;
		
		/* обнуляем шрифт, чтобы убрать текст label */
		font-size: 0;
	  }
	  
	  
	  .custom-select {
		border: 0;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;

		font-size: 16px;
		padding-right: 0px;

		border-bottom: 1px dotted #448ccb;
	  }

/* HEADER DAY */

.header-center time span {
    float: left;
    color: #91919f;
    font-family: "Arial MT", sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -0.32px;
}
.header-center time .news-time {
	margin-left: 30px;
}


/* HEADER TIME */
.header-time {
    /* float: right; */

    color: #91919f;
    font-family: "Arial MT", sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -0.32px;

	margin-left: 30px;
	background-image: url(../img/icon-time.png);
}


/* HEADER WEATHER */

.weather {
	display: flex;
}
    .weather-tem {
        /* float: right; */
        padding-left: 10px;
		padding-top: 5px;
		color: #91919f;
		font-family: "Arial MT", sans-serif;
		font-size: 16px;
		font-weight: 400;
    }
    .weather-image {
        /* float: left; */
    }

/* HEADER SEARCH */
.search {
}
    .search input {
        width: 320px;
        height: 45px;
        border-radius: 23px;
        background-color: #ebebeb;
        opacity: 0.6;
        border: none;
    }
    .search-image {
        position: absolute;
        top: 14px;
        right: 20px;
    }
    input:-ms-input-placeholder {
        opacity: 0.55;
        color: #000000;
        font-family: "Arial MT", sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: -0.28px;
    }
    ::-webkit-input-placeholder {
        opacity: 0.55;
        color: #000000;
        font-family: "Arial MT", sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: -0.28px;
        padding-left: 21px;
    }
    ::-moz-placeholder {
        opacity: 0.55;
        color: #000000;
        font-family: "Arial MT", sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: -0.28px;
        padding-left: 21px;
    }
    :-moz-placeholder {
        opacity: 0.55;
        color: #000000;
        font-family: "Arial MT", sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: -0.28px;
        padding-left: 21px;
    }
    :-ms-input-placeholder {
        opacity: 0.55;
        color: #000000;
        font-family: "Arial MT", sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: -0.28px;
        padding-left: 21px;
    }

/* NAVIGATION */

.nav{
    float: left;
    clear: left;
	list-style: none;
	margin-top: 20px;
}
    .nav-elem {
		float: left;
		text-decoration: none;
		color: #000000;
    }
    .nav-elem::after {
        content: "/";
        padding: 0px 15px;
        opacity: 0.3;
        color: #91919f;
        font-family: "Arial MT", sans-serif;
        font-size: 20px;
        font-weight: 400;
        letter-spacing: -0.4px;
    }
    .nav-elem:last-child::after {
        content: "";
	}
	
/* SPECIAL NEWS */

#special-news {
	margin-top: 20px;
	/* height: 393px; */
	margin-bottom: 60px;
	display: flex;
    justify-content: space-around;
}
.special-left {
	/* float: left; */
}
.big-news {
	background-image: url(../img/Layer_9.png);
	width: 575px;
	height: 393px;
	background-size: contain;
	background-repeat: no-repeat;
}
.opacity {
	width: 575px;
	height: 393px;
	background-color: rgba(0,0,0, .45);
	position: absolute;
	top: 20px;
}
.news-list {
	line-height: 20px;
	background-color: rgba(0,0,0, .45);
	height: 100%;
	width: 100%;

	display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
	.news-span {
		color: #ffffff;
		font-family: "Arial MT", sans-serif;
		font-size: 12px;
		font-weight: 400;
		letter-spacing: -0.24px;
		/* margin-bottom: 30px; */
		padding-left: 20px;
	}
	.news-title {
		color: #ffffff;
		font-family: "Arial - Bold MT", sans-serif;
		font-size: 30px;
		font-weight: 400;
		letter-spacing: -0.6px;
		line-height: 35px;
		margin:0px;
		padding-left: 20px;
	}
	.news-text {
		opacity: 0.7;
		color: #ffffff;
		font-family: "Arial MT", sans-serif;
		font-size: 14px;
		font-weight: 400;
		letter-spacing: -0.28px;
		padding-left: 20px;
	}
	.news-list .news-item-props {
		color: #ffffff;
		font-family: "Arial MT", sans-serif;
		font-size: 12px;
		font-weight: 400;
		letter-spacing: -0.24px;
		margin: 15px 0px 25px; 
		padding-left: 20px;
	}
	.news-list .news-time {
		/* position: absolute;
		top: 0; */
		padding-left: 15px;
		background-image: url('../img/clock.png');
		background-repeat: no-repeat;
	}

.special-right {
	display: flex;
    flex-direction: column;
	width: 385px;
}
	.special-right h2 {
		padding-left: 19px;
		padding-top: 30px;
		margin: 0;
	}
	.special-right .news-item-text{
		font-weight: 700;
	}


/* FOOTER */

.footer {
	background-color: #00122f;
	/* height: 338px; */
}

.copywrite {
	height: 50px;
	opacity: 0.4;
	color: #ffffff;
	font-family: "Arial MT";
	font-size: 14px;
	font-weight: 400;
	line-height: 22px;
	letter-spacing: -0.28px;

	text-align: center;
    padding-top: 20px;
	border-top: 1px solid #ffffff;
	margin: 0px;
}

.footer-up {
	display: flex;
	justify-content: space-between;
    width: 100%;
}

.footer-left {
	display: flex;
}
	.list-left,
	.list-right {
		list-style:none;
		margin-top: 50px;
	}
	.list-elem {
		color: #ffffff;
		font-family: "Arial MT", sans-serif;
		font-size: 16px;
		font-weight: 400;
		letter-spacing: -0.32px;
		margin-bottom: 20px;
	}
.footer-central {
	margin-top: 50px;
}

	.footer-central__wrap {
		display: flex; 
		align-items: center;
	}
	.fc-text {
		margin: 0px;
		color: #ffffff;
		font-weight: 700;
		font-size: 14px;
		font-weight: 400;
		line-height: 18px;
		letter-spacing: -0.28px;
		margin-left: 50px;
		margin-top: 5px;
	}
	.fc-list {
		list-style: none;
		padding: 0px;
		
	}
	.fc-list li {
		color: #ffffff;
		font-family: "Arial MT", sans-serif;
		font-size: 16px;
		font-weight: 400;
		margin-bottom: 20px;
		letter-spacing: -0.32px;
	}

.footer-right{
	margin-top: 50px;
}
	.info {
		color: #ffffff;
		font-family: "Arial MT", sans-serif;
		font-size: 18px;
		font-weight: 400;
		line-height: 50px;
		letter-spacing: -0.36px;
	}
	.info a {
		color: white;
		text-decoration: none;
	}

	.info img {
		margin-right: 20px;
	}
	.social-media img {
		margin-right: 20px;
	}


/* MAIN NEWS */	

.main-news {
	background-image: url(../img/Layer_1.png);
	width: 420px;
	height: 322px;
}

.main-news .news-list {

	height: 322px;
}

.main-news .news-title {
	color: #ffffff;
	font-weight: 700;
	font-size: 30px;
	font-weight: 400;
	line-height: 35px;
	letter-spacing: -0.6px;
}


.small-news {
	margin: 20px 0px 0px 0px;
	padding: 0px;
	width: 200px;
	/* float: left; */
}
.small-news:first-child{
	margin-right: 20px;
}
.small-news .news-item-props {
	justify-content: flex-start;
    align-items: center;
	display: flex;
}
	.small-news .news-item-props .news-span {
		padding-left: 0px;
	}
.small-news img {
	width: 200px;
}

.small-news figcaption {
	color: #000000;
	font-weight: 700;
	font-size: 14px;
	line-height: 20px;
	letter-spacing: -0.28px;
}
.small-news:first-child figcaption {
	letter-spacing: -0.30px;
}

.extra-line .news-span {
    opacity: 0.8;
	color: #91919f;
    font-family: "Arial MT", sans-serif;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: -0.24px;
    /* margin-bottom: 30px; */
}

/* .small-news .news-time {
    position: absolute;
    top: 0;
    left: 90px;
} */
/* .small-news .news-comments-count {
    position: absolute;
    top: 0;
    left: 150px;
} */